* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(181, 181, 181);
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1,5;
}
header {
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    background-color: rgb(246, 246, 245);
    border: 2px solid rgb(5, 33, 250);
    position: sticky;
    top: 0;
    z-index: 10;
}